.library-person-credits{
  padding: var(--space-4) 0;
}
.library-person-credits__casts{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-4);
  padding: var(--space-4) 0;
}

.library-person-credits__crews{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-4);
}